* {
  font-family: 'Merriweather', serif;
  }
/* Recommended */
.row {
  display: flex;
  margin-left: 12%;
  }
  .column {
  flex: 44.44%;
  
  }
.container {
  position: relative;
  width: 80%; 
  }
.image {
  display: block;
  width: 80%;
  height: 200px;
  border-radius:50%;
  }
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
   width: 80%;
  height: 200px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  border-radius:50%;
  }
.container:hover .overlay {
  opacity: 1;
  }
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  }
.breakhorizontally{
    height: 100px;
    }

/*Footer*/
footer{
  letter-spacing: 1px;
  display: flex;
  background-color: #001D4A;
  height: 35%;
  color: white;
  padding-left: 3%;
  }
footer h1{
  font-size: 50px;
  }
#mail {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color:#F59A23;
  }
#aboutUs{
  width: 400px;
  }
.marginLeft {
  margin-left: 8%;
  }
.formatText{
  font-size: 30px;
  font-weight: bold;
  }
input[type=email] {
  margin-left: 10%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  }
.subscribeButton {
  background-color:#F59A23;
  border-radius: 5px;
  border: none; 
  color: white; 
  padding: 14px 20px; 
  } 
.subscribeButton:hover {
  background-color: #001D4A;
  }
